#naam{
    
    text-shadow: 1px 1px 0px #FFF, -1px 1px 0px #FFF, -1px -1px 0px #FFF, 1px -1px 0px #FFF;
}

#nav{
background-color:#009688;
text-shadow: 1px 1px 0px #FFF, -1px 1px 0px #FFF, -1px -1px 0px #FFF, 1px -1px 0px #FFF;
text-align:center;
}

.navbar-nav{
    
    margin-left: 50% !important;
    transform: translateX(-50%);
    
}
#header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 10000;
    box-shadow: 0px 0px 6px #777;
}

body{
    padding-top:50px;
}

#container{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#gegevens{
    position:relative;
    left:500px;
    bottom:300px;
 }
 #intro{
     margin:auto;
     
 }