body{
    font-family: Verdana;
    font-size: 14px;
    color: #ccc;
    background-color:  #0d0e0f;
    margin: 0px;
}
form{
    width: 400px;
    float:left;
}
fieldset{
    margin-bottom: 15px;
    padding: 10px;
}
label{
    display:block;
    margin-bottom: 9px;
    margin-top: 9px;
    margin-left: 0px;
    margin-right: 0px;
}
input[type=text], select{
    background-color: black;
    color: white;
    border-color: #666;
    text-align: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 5px;
    margin-right: 5px;
}
input[type=checkbox], input[type=radio], input[type=submit]{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
#logo{
    margin-top: 30px;
    float:left;
}
#robben{
    float:left;
}
hgroup{
    margin: 10px;
    width: 200px;
    float: left;
    margin-top: 30px;
}
header{
    text-align: center;
    position: relative;
    z-index: 2;
    background-color: white;
    opacity: 0.7;
    height: 160px;
    margin-top:15px;
}
div#bloemen{
    background:url(images/bloemen.JPG);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 193px;
    position: absolute;
    top:0px;
    background-size: cover;
}

#straatnaam{
    width: 280px;
}
#huisnummer{
    width: 60px;
}
#postcode{
    width: 60px;
}
#woonplaats{
    width: 280px;
}
#email{
    width: 355px;
}
#telefoonnummer{
    width: 355px;
}
input[type=submit]{
    width: 100%;
    opacity: 0.6;
}
input[type=submit]:hover{
    opacity: 1;
    transition:opacity 0.5s linear;    
}
section{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}
div#body{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 0px;
}
header nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
header nav li a{
    display: inline-block;
    color: grey;
    text-align: center;
    text-decoration: none;
}
header nav ul li{
    list-style-type:none;
    width: 120px;
    float:left;
    margin-top: 70px;
    margin-left: 10px;
}
aside{
    width: 350px;
    float: right;
    line-height: 200%;
    margin-top: 170px;
    text-align: right;
}
footer{
    width: 100%;
    height: 80px;
    float: left;
    background-color:  #222;
    list-style-type:none;
    text-decoration: none;
    display: inline-block;
    color: grey;
    text-align: center;
}
footer nav ul li{
    float: left;
    list-style-type: none;
    margin-left: 100px;
}
#vollenaam{
    color: #0d0e0f;
    margin-top: 30px;
}
#hovenier{
    color: #006600;
}
p{
    text-align:left;
    width:400px;
}
footer nav li a{
    display: inline-block;
    color: grey;
    text-align: center;
    text-decoration: none;
}
#op{
    float:right;
}
#po{
    float:right;
}

#popo{
    float:right;
}
.kolom1 {
  width:400px;
}
.kolom2 {
  width:400px;
}
.kolom3 {
  width:400px;
}